.large-hero {
  position: relative;
  border-bottom: 0.5rem solid $mainColor;

  &__img {
    display: block;
  }

  &__text-content {
    position: absolute;
    padding-top: 1.9rem;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
  }

  &__title {
    font-size: 1.7rem;
    color: $mainColor;
    margin: 0;
  }

  &__description {
    text-align: justify;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
  }
}
