.large-hero {
  position: relative;
  border-bottom: 0.2rem solid $mainColor;

  &__img {
    display: block;
    padding-top: 5.5rem;
  }

  &__text-content {
    position: relative;
    padding-top: 0.8rem;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 0;

    @mixin atMedium {
      position: absolute;
      font-size: 1rem;
      background-color: rgba(255, 255, 255, 0.6);
      padding-top: 1.9rem;
      margin-top: 60px;
    }

    @mixin atLarge {
      margin-top: 85px;
    }
  }

  &__title {
    font-size: 1.2rem;
    color: $mainColor;
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);

    @mixin atSmall {
      font-size: 2rem;
    }
  }

  &__description {
    text-align: justify;
    font-size: 0.8rem;
    max-width: 35rem;
    margin: 0.3rem auto;
    font-weight: 600;

    @mixin atSmall {
      font-size: 1rem;
      font-weight: 300;
    }

    @mixin atMedium {
      font-weight: 500;
      margin: 1rem auto;
      font-size: 1.1rem;
    }
  }
}
