.primary-nav {
  display: none;

  &--is-visible {
    display: block;
  }

  @mixin atMedium {
    display: block;

    &--pull-right {
      float: right;
      padding-top: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      @mixin clearfix;
    }

    li {
      list-style: none;
      display: block;
      float: left;
      background-color: rgba(255, 255, 255, 0.3);
      padding: 0.2rem 1.25rem;
      margin-left: 0.2rem;
    }

    a {
      color: rgb(19, 96, 7);
      text-decoration: none;
      font-weight: 700;

      &.is-current-link {
        color: yellow;
      }
    }
  }
}
