.row {
  @mixin clearfix;

  &--gutters {
    margin-right: -85px;
  }

  &--gutters-smaller {
    margin-right: -10px;
  }

  &--gutters > div {
    padding-right: 85px;
  }

  &--gutters-smaller > div {
    padding-right: 10px;
  }

  &__xs-4 {
    width: 33.33%;
    float: left;
  }

  &__xs-8 {
    width: 66.66%;
    float: left;
  }

  @mixin atMedium {
    &__md-6 {
      width: 50%;
      float: left;
    }

    /*## begin equal height rules */
    .flexbox &--equal-height-at-medium {
      display: flex;

      & > div {
        float: none;
        display: flex;
      }
    }
  }
}
