.site-header {
  padding: 1.3rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: rgba($mainColor, 0.8);

  @mixin atMedium {
    &--scrolling-down {
      background-color: $mainSubColor;
      padding: 0.5rem;
    }
  }

  @mixin atLarge {
    padding: 1.9rem;

    &--scrolling-down {
      background-color: $mainSubColor;
      padding: 0.7rem;
    }
  }

  &__logo {
    position: absolute;
    left: 0;
    /* transform: translateX(0);
    transform-origin: 50% 0;
    transition: transform 0.3s ease-out; */
    top: 0;
    padding: 0 2.5rem 1.5625rem 2.5rem;
  }

  &__icon {
    display: inline-block;
    margin: 0 auto;

    &--until-medium {
      display: inline-block;

      @mixin atMedium {
        display: none;
      }
    }

    &--medium-to-large {
      display: none;

      @mixin atMedium {
        display: inline-block;
      }

      @mixin atLarge {
        display: none;
      }
    }

    &--larger {
      display: none;

      @mixin atLarge {
        display: inline-block;
      }
    }

    &--scrolling-down {
      margin-top: 0;
      margin-right: 0;
      transform: scale(1);

      @mixin atMedium {
        margin-top: -1.2rem;
        margin-right: -0.5rem;
        transform: scale(0.6);
      }

      @mixin atLarge {
        margin-top: -2.8125rem;
        margin-right: -3rem;
        transform: scale(0.4);
      }
    }
  }

  &__titles {
    float: right;
    /* margin-left: 1rem; */
    /* margin-top: -15px; */
    position: relative;
    top: 1rem;
    left: 3%;
    transform: translateY(-55%);

    @mixin atMedium {
      margin-left: 1rem;
      margin-top: -15px;
      top: 0;
      left: 0;
      transform: translateY(0);
    }
  }

  &__title {
    font-size: 1rem;
    margin: 1.9rem 0 0 1rem;

    @mixin atMedium {
      margin-bottom: 0;
      margin-top: 1.3rem;
      font-size: 1rem;
    }

    @mixin atLarge {
      margin-bottom: 0;
      font-size: 2rem;
    }

    &--scrolling-down {
      color: #000;
      @mixin atMedium {
        color: #fff;
      }
    }
  }

  &__subtitle {
    font-size: 0.7rem;
    margin-top: 0;
    text-align: right;
    opacity: 1;

    @mixin atMedium {
      font-size: 1rem;

      &--scrolling-down {
        opacity: 0;
      }
    }
  }

  &__menu-content {
    display: none;
    font-size: 0.7rem;

    @mixin atMedium {
      display: block;
    }

    @mixin atLarge {
      display: block;
      font-size: 1rem;
    }
  }
}
